$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}


html {
	font-size: 62.5%;
}

body {
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 1.7;
	color: $color-grey-dark;
	padding: 3rem;
	box-sizing: border-box;
}

.header {
	height: 95vh;
	background-image: linear-gradient(to right bottom, 
		                              rgba($color-primary-light, .8), 
		                              rgba($color-primary-dark, .8)),
	url(../img/mount_mulanje_cover.jpg);
	background-size: cover;
	background-position: center right;
	clip-path: polygon(0 0, 100% 0, 100% 78%, 0 100%);
	position: relative;

	&__logo-box {
		position: absolute;
		top: 2rem;
		left: 4rem;
	}

	&__logo {
		height: 7rem;
	}

	&__text-box{
		position: absolute;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
	}
}


.heading-primary {
	color: $color-white;
	text-transform: uppercase;
	backface-visibility: hidden;
	margin-bottom: 6rem;

	&--main {
		display: block;
		font-size: 6rem;
		font-weight: 400;
		letter-spacing: 4rem;
		animation-name: moveInLeft;
		animation-duration: 1s;
		animation-timing-function: ease-out;
		margin-left: 2.4rem;

	/*
	animation-delay: 3s;
	animation-iteration-count: 3;
	*/
	}

	&--sub {
		display: block;
		font-size: 1.6rem;
		font-weight: 700;
		letter-spacing: 1.3rem;
		animation-name: moveInRight;
		animation-duration: 1s;
		animation-timing-function: ease-out;
	}
}


@keyframes moveInLeft {
	0% {
		opacity: 0;
		transform: translateX(-10rem);
	}

	80% {
		transform: translateX(1rem);	
	}

	100% {
		opacity: 1;
		transform: translate(0);
	}
}

@keyframes moveInRight {
	0% {
		opacity: 0;
		transform: translateX(10rem);
	}

	80% {
		transform: translateX(-1rem);
	}

	100% {
		opacity: 1;
		transform: translate(0);
	}
}

@keyframes moveInBottom {
	0% {
		opacity: 0;
		transform: translateY(3rem);
	}

	100% {
		opacity: 1;
		transform: translate(0);
	}
}

.btn {
	&:link,
	&:visited {
		text-transform: uppercase;
		text-decoration: none;
		padding: 1.5rem 4rem;
		border-radius: 10rem;
		display: inline-block;
		transition: all 0.2s ;
		position: relative;
	}

	&:hover {
		transform: translateY(-0.3rem);
		box-shadow: 0 1rem 2rem rgba($color-black, .2);

		&::after {
			transform: scaleX(1.2) scaleY(1.4);
			opacity: 0;
		}
	}

	&:active {
		transform: translateY(-.1rem);
		box-shadow: 0 .5rem 1rem rgba($color-black, .2)
	}

	&--white {
		background-color: $color-white;
		color: $color-grey-dark;

		&::after {
			background-color: $color-white;
		}
	}

	&::after {
		content: "";
		display: inline-block;
		height: 100%;
		width: 100%;
		border-radius: 10rem;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		transition: all .4s;
	}

	&--animated {
		animation: moveInBottom .5s ease-out .75s;
		animation-fill-mode: backwards;
	}	
}

