.header {
	height: 95vh;
	background-image: linear-gradient(to right bottom, 
		                              rgba($color-primary-light, .8), 
		                              rgba($color-primary-dark, .8)),
	url(../img/mount_mulanje_cover.jpg);
	background-size: cover;
	background-position: center right;
	clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
	position: relative;

	&__logo-box {
		position: absolute;
		top: 2rem;
		left: 4rem;
	}

	&__logo {
		height: 7rem;
	}

	&__text-box {
		position: absolute;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
	}
}