.popup {
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba($color-black, .8);
	z-index: 9999;
	opacity: 0;
	visibility: hidden;
	transition: all .3s;

	&:target {
		opacity: 1;
		visibility: visible;

	}

	&:target &__container {
		opacity: 1;
	}

	&__close {
		&:link,
		&:visited {
			color: $color-grey-dark;
			text-decoration: none;
			display: inline-block;
			position: absolute;
			top: 1rem;
			right: 2rem;
			transition: all .2s;
			line-height: 1;
			font-size: 3.5rem;
		}

		&:hover {
			color: $color-primary;
		}
	}

	&__container {
		@include absCenter;
		width: 75%;
		background-color: $color-grey-light-1;
		box-shadow: 0 2rem 4rem rgba($color-black, .2);
		border-radius: 13px;
		overflow: hidden;
		padding: 3rem;
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;
		opacity: 0;
		transition: all .4s .2s;

		@include respond(tab-port) {
			flex-flow: column;
		}

		@include respond(big-phone) {
			padding: 2rem;
			width: 100%;
			border-radius: 0;
		}
		
		&__left {
			flex: 0 0 calc(3 / 5 * 100%);
			padding-right: $gutter-horizontal;
			
			@include respond(tab-port) {
				padding-right: 0;
				flex: 0 0 100%;
			}


			&__item {
				font-size: $default-font-size;

				@include respond(phone) {
					font-size: $small-font-size;
				}
				
				&--columns {
					column-count: 2;
					column-gap: 3.5rem;
					-moz-column-count: 2;
					-moz-column-gap: 3.5rem;
					hyphens: auto;
					-moz-hyphens: auto;
					-ms-hyphens: auto;
					-webkit-hyphens: auto;

					@include respond(tab-port) {
						column-count: 1;
					}
				}
			}
		}

		&__right {
			padding-right: $gutter-horizontal;
			flex: 0 0 calc(2 / 5 * 100%);
			padding-left: $gutter-horizontal;
			border-left: 1.2px solid $color-primary;
			font-size: 1.4rem;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;

			@include respond(tab-port) {
				flex: 0 0 100%;
				padding-left: 0;
				padding-right: 0;
				border-left: none;
				margin-top: 2rem;
			}

			@include respond(big-phone) {
				margin-top: 1rem;
			}

			&__item {
				font-size: 1.6rem;
				height: 100%;
				display: flex;
				flex-direction: column;
				justify-content: flex-start;


				&__bullets {
					color: $color-primary;
					padding-bottom: 0.5rem;
					padding-top: 0.5rem;
					flex: 1 0 auto;

					@include respond(phone) {
						padding-bottom: 0.3rem;
						padding-top: 0.3rem;
						flex: 0;
					}

					@include respond(small-phone) {
						padding-bottom: 0.15rem;
						padding-top: 0.15rem;
					}
				}

				&__price {
					display: flex;
					justify-content: flex-start;
					flex-flow: row wrap;
					display: block;

					&__trip {
						background-color: $color-white;
						margin-right: 1rem;
						padding: 1rem 1rem;
						border-radius: 10rem;
						margin-bottom: 1rem;
						display: inline-block;

						@include respond(phone) {
							margin-right: .9rem;
							font-size: $small-font-size;
							text-align: center;
						}
					}
				}
			}
		}
	}
}

